/* src/styles/home.css */
.shailesh-portfolio {
  position: relative;
}

.poster-section {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 450px;
}
.poster-section.lightmode{
  background-image: url('../assets/images/bg-poster.png'), linear-gradient(to right top, #0089ff, #00a2ff, #00b8ff, #42ccfc, #7bdef7);;
}
.poster-section.darkmode{
  background-image: url('../assets/images/bg-poster.png'), linear-gradient(to right top, #012252, #101d45, #151839, #16132e, #150e23);
}

.overlay {
  position: absolute;
  top: 0;
  left: 5%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay .float-section{
  left: 75%;
  bottom: 10px;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
